<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902357989185-7hddagn9chkicf8eejn90ugl7buj6ns7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902357989185-7hddagn9chkicf8eejn90ugl7buj6ns7</string>
	<key>API_KEY</key>
	<string>AIzaSyAXogl7VlRmBk-47DWsrGJ1t_jiRDvk1Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>902357989185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lavenes.ville</string>
	<key>PROJECT_ID</key>
	<string>villes-1563d</string>
	<key>STORAGE_BUCKET</key>
	<string>villes-1563d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902357989185:ios:97bb6701e7d585e32e93c0</string>
</dict>
</plist>